# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.log

# DB
*.db
*.db-journal
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Tooling
.mypy_cache/
.ruff_cache/
.pytest_cache/
htmlcov/
.coverage
